// app global css in SCSS form

#q-app{
    display: flex;
    align-items: center;
}
html,
body,
#q-app{
    position: relative;
    height: 100%;
}
.q-page{
    border: 1px solid black;
}
.q-layout,
.q-page{
    max-height: 812px;
    min-height: auto !important;
    height: 100%;
    .q-page-container{
        height: 100%;
    }
}
.q-field--outlined .q-field__control{
    background: white;
    &::before,
    &::after{
        border-width: 1px !important;
        border-color:$primary;
        border-radius: 0;
    }
}


.q-btn{
    border-radius: 0;
}